<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="AntdUI" version="2.0.0-beta1" targetFramework="net48" />
    <package id="Autofac" version="5.2.0" targetFramework="net48" />
    <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net48" />
    <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net48" />
    <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net48" />
    <package id="Microsoft.Data.Sqlite" version="2.0.0-preview1-final" targetFramework="net48" />
    <package id="Microsoft.Data.Sqlite.Core" version="2.0.0-preview1-final" targetFramework="net48" />
    <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
    <package id="Microsoft.Packaging.Tools" version="1.0.0-preview1-25301-01" targetFramework="net48" />
    <package id="NETStandard.Library" version="2.0.0-preview1-25301-01" targetFramework="net48" />
    <package id="SQLitePCLRaw.bundle_green" version="1.1.5" targetFramework="net48" />
    <package id="SQLitePCLRaw.core" version="1.1.5" targetFramework="net48" />
    <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.5" targetFramework="net48" />
    <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.5" targetFramework="net48" />
    <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.5" targetFramework="net48" />
    <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.5" targetFramework="net48" />
    <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
    <package id="linq2db" version="6.0.0-preview.4" targetFramework="net48" />
    <package id="linq2db.Compat" version="6.0.0-preview.4" targetFramework="net48" />
    <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net48" />
    <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
    <package id="System.Configuration.ConfigurationManager" version="9.0.1" targetFramework="net48" />
    <package id="System.Memory" version="4.5.3" targetFramework="net48" />
    <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
    <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
    <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
    <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>